{layout name="/common"/}
<style>
    .layui-table-cell { overflow: hidden; word-wrap:break-word }

</style>
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" name="keyword" placeholder="key" />
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-primary" onclick="create()">新增</a>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>

<script>
    table.render({
        elem: '#table',
        url : '/admin/sysSetting',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-95",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', width: 80, templet:function(d){
                return '<a class="btn btn-xs btn-primary" onclick="update('+d.fId+')">修改</a>';
            }},
            {field: 'fKey', title: 'KEY', width: 200},
            {field: 'fValue', title: '参数值', width: 900},
            {field: 'fDescription', title: '备注', width: 200},
            {field: 'furl', title: 'URL', width: 200},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //创建
    function create () {
        dialog('/admin/sysSetting/create', '添加参数值', 1000);
    }

    //修改
    function update (fId) {
        dialog('/admin/sysSetting/update?fId=' + fId, '修改参数值', 1000);
    }
</script>
