<form action="/admin/sysSetting/update" class="layui-form dialog row">
    <div class="col-sm-6">
        <div class="layui-form-item">
            <label class="layui-form-label">KEY</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fKey" value="{$fKey}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-block">
                <input class="layui-input" name="furl" value="{$furl}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fDescription" value="{$fDescription}">
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="layui-form-item">
            <label class="layui-form-label">图片链接</label>
            <a class="btn btn-info btn-sm" id="upload">
                <i class="fa fa-upload"></i>上传图片
            </a>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">参数值</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="fValue" id="fValue">{$fValue}</textarea>
            </div>
        </div>
    </div>

    <input type="hidden" name="fId" value="{$fId}">
</form>
<script>
    upload.render({
        elem: '#upload',
        url: '/admin/index/upload',
        done: function(res) {
            if(res.code == 0) {
                $('#fValue').val(res.data.path);
                success(res.msg)
            } else {
                error(res.msg);
            }
        },
        error: function() {
            error('上传出错');
        }
    });
</script>
