<form action="/admin/sysAuth/update" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input class="layui-input" name="title" value="{$row.title}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">url</label>
        <div class="layui-input-block">
            <input class="layui-input" name="url" value="{$row.url}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">父级</label>
        <div class="layui-input-block">
            <select name="pid" lay-search>
                <option value="0">--顶级--</option>
                {foreach $authLevel as $v}
                    <option value="{$v.id}" {if $v.id == $row.pid}selected{/if}>{$v.title}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">icon</label>
        <div class="layui-input-block">
            <input class="layui-input" name="icon" value="{$row.icon}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input class="layui-input" name="sort" value="{$row.sort}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="1" title="菜单" {if $row.type == 1}checked{/if}>
            <input type="radio" name="type" value="2" title="操作" {if $row.type == 2}checked{/if}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="开启" {if $row.status == 1 }checked{/if}>
            <input type="radio" name="status" value="0" title="关闭" {if $row.status == 0 }checked{/if}>
        </div>
    </div>

    <input type="hidden" name="id" value="{$row.id}">
</form>