{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input layui-input" id="searchVal" placeholder="请输入账号" />
            </div>
            <div class="layui-input-inline">
                <select id="win_type" lay-filter="win_type">
                    <option value="">是否中奖</option>
                    <option value="0">未中奖</option>
                    <option value="1">已中奖</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="player_fee" lay-filter="player_fee">
                    <option value="">是否缴纳资格费</option>
                    <option value="0">未缴纳</option>
                    <option value="1">部分缴纳</option>
                    <option value="2">已缴纳</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="out_type" lay-filter="out_type">
                    <option value="">是否退出</option>
                    <option value="0">未退出</option>
                    <option value="1">待审核</option>
                    <option value="2">审核中</option>
                    <option value="3">退出</option>
                    
                </select>
            </div>
            <a class="btn btn-sm btn-primary search_btn">搜索</a>
            <button type="reset" class="btn btn-sm btn-white">重置</button>
        </div>
        <div class="layui-inline">
            <a class="btn btn-sm btn-primary setWin" >设置中奖</a>
            <a class="btn btn-sm btn-primary outCheck" >退出审核</a>
        </div>
    </form>
</div>
<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/player/index/home',
        cellMinWidth : 95,
        page : true,
        height : "full-85",
        limit : 20,
        limits : [10,20,30,50],
        id : "tableins",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {field: 'f_uid', title: 'UID', align:"center"},
            {field: 'user_account', title: '用户账号', width: 200},
            {field: 'player_type', title: '活动状态', align:'center', templet:function(d){
                if (d.player_type == 0) {
                    return '<span class="layui-red">未参与活动</span>';
                } else {
                    return '<span class="layui-green">参与活动</span>';
                }
            }},
            {field: 'player_fee', title: '资格费缴纳状态', align:'center', templet:function(d){
                if (d.player_fee == 0) {
                    return '<span class="layui-red">未缴纳</span>';
                } else if (d.player_fee == 1) {
                    return '<span class="layui-blue">部分缴纳</span>';
                } else {
                    return '<span class="layui-green">已缴纳</span>';
                }
            }},
            {field: 'win_type', title: '中奖', align:'center', templet:function(d){
                if (d.win_type == 0) {
                    return '<span class="layui-red">未中奖</span>';
                } else {
                    return '<span class="layui-green">中奖</span>';
                }
            }},
        
            {field: 'add_time', title: '创建时间', width: 200, align:'center'},
            {field: 'update_time', title: '更新时间', width: 200, align:'center'},
            {field: 'player_periods', title: '活动期数', align:'center'},
            {field: 'coin_money', title: '充值金额', align:'center'},
            {field: 'out_type', title: '是否退出', align:'center', templet:function(d){
                if (d.out_type == 0) {
                    return '未退出';
                } else if (d.out_type == 1) {
                    return '待审核'
                } else if (d.out_type == 2) {
                    return '审核中';
                } else if (d.out_type == 3) {
                    return '退出';
                }
            }},
            {field: 'f_reviewer', title: '审核人账号'},
            {field: 'f_cause', title: '审核失败原因'},
        ]]
    });

    //搜索
    $(".search_btn").on("click",function(){
        table.reload("tableins",{
            page: {
                curr: 1
            },
            where: {
                keyword: $("#searchVal").val(),
                win_type: $("#win_type").val(),
                player_fee: $("#player_fee").val(),
                out_type: $("#out_type").val(),
            }
        })
    });

    //批量设置中奖
    $(".setWin").click(function(){
        var checkStatus = table.checkStatus('tableins'),
            data = checkStatus.data,
            uid = [];

        if (data.length < 1) {
            layer.msg("请选择数据");
            return;
        }
        
        for (var i in data) {
            uid.push(data[i].f_uid);
        }
        layer.confirm('确定设置中奖吗？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/player/index/setwin",{ uid : uid.join(',')  }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    layer.msg(ret.msg);
                    layer.close(index);
                } else {
                    layer.msg(ret.msg);
                }
            })
        })
    })

    //批量设置中奖
    $(".outCheck").click(function(){
        var checkStatus = table.checkStatus('tableins'),
            data = checkStatus.data,
            uid = [];

        if (data.length < 1) {
            layer.msg("请选择数据");
            return;
        }
        for (var i in data) {
            uid.push(data[i].f_uid);
        }
        layer.confirm('确定审核？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/player/index/outcheck",{ uid : uid.join(',')  }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    layer.msg(ret.msg);
                    layer.close(index);
                } else {
                    layer.msg(ret.msg);
                }
            })
        })
    })
</script>