<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>KIM玩家之旅后台</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/plugin/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/static/plugin/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/plugin/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/plugin/hplus/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" src="/static/img/face.jpg" width="50" height="50"/></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">ww</strong><b class="caret" style="margin-left: 5px"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="/player/index/logout">安全退出</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">KIM
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="/player/index/home" data-id="/player/index/home">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">玩家之旅</span>
                    </a>
                </li>
                <li>
                    <a class="J_menuItem" href="/player/index/spread">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">邀请返佣</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="/admin/index/home">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="/player/index/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/player/index/home" frameborder="0" data-id="/player/index/home" seamless></iframe>
        </div>
    </div>

</div>
<script src="/static/plugin/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/plugin/hplus/js/bootstrap.min.js?v=3.3.5"></script>
<script src="/static/plugin/hplus/js/jquery.metisMenu.js"></script>
<script src="/static/plugin/hplus/js/jquery.slimscroll.min.js"></script>
<script src="/static/plugin/hplus/js/layer/layer.js"></script>
<script src="/static/plugin/hplus/js/hplus.min.js?v=4.0.0"></script>
<script src="/static/plugin/hplus/js/contabs.min.js"></script>
<script src="/static/plugin/hplus/js/pace.min.js"></script>
</body>
</html>