<form action="/admin/sysAdmin/update" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input class="layui-input" name="fName" lay-verify="required" value="{$row.fName}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" class="layui-input" name="fPassword" froleId>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input class="layui-input" disabled lay-verify="required" value="{$row.mobile}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <select name="froleId" lay-search>
                {foreach $roles as $k => $v}
                <option value="{$k}" {if $k == $row.froleId}selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <input type="hidden" name="fId" value="{$row.fId}">
</form>
