<form action="/admin/contract.wallet/assetchange" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">扣除数量</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="amount" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="note" value="">
        </div>
    </div>

    <input type="hidden" name="id" value="{$id}">
</form>