{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="">--状态--</option>
                        <option value="1">正常</option>
                        <option value="0">禁止</option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <select name="trade_status">
                        <option value="">--交易状态--</option>
                        <option value="1">开放</option>
                        <option value="0">不开放</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>
<div class="operate-section">
    <a class="btn btn-sm btn-primary" onclick="add()">新增</a>
    <a class="btn btn-sm btn-warning" onclick="handleStatus(1, 1)">启用</a>
    <a class="btn btn-sm btn-warning" onclick="handleStatus(0, 1)">禁用</a>
    <a class="btn btn-sm btn-info" onclick="handleStatus(1, 2)">开放交易</a>
    <a class="btn btn-sm btn-info" onclick="handleStatus(0, 2)">关闭交易</a>
</div>

<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/coinsMarket/index',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-95",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', width: 80, templet:function(d){
                return '<a class="btn btn-xs btn-primary" onclick="edit('+d.id+')">修改</a>';
            }},
            {field: 'id', title: 'ID', align:'center', width: 80},
            {field: 'buy_coin', title: '市场', align:'center', width: 150},
            {field: 'sell_coin', title: '交易币种', align:'center', width: 100},
            {field: 'decimals', title: '保留小数位', align:'center', width: 150},
            {field: 'status', title: '状态', align:'center', width: 100, templet:function(d){
                return d.status == 1 ? '正常' : '禁止';
            }},
            {field: 'trade_status', title: '交易状态', align:'center', width: 100, templet:function(d){
                return d.trade_status == 1 ? '开放' : '不开放';
            }},
            {field: 'trade_time', title: '交易时间', align:'center', width: 100},
            {field: 'updown', title: '涨跌幅', align:'center', width: 100},
            {field: 'buy_fee', title: '买入手续费', align:'center', width: 100},
            {field: 'sell_fee', title: '卖出手续费', align:'center', width: 100},
            {field: 'min_count', title: '最小交易量', align:'center', width: 100},
            {field: 'max_count', title: '最大交易量', align:'center', width: 100},
            {field: 'min_price', title: '最小交易价', align:'center', width: 100},
            {field: 'max_price', title: '最大交易价',align:'center', width: 100},
            {field: 'min_money', title: '最小交易额', align:'center',width: 100},
            {field: 'max_money', title: '最大交易额', align:'center',width: 100}
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //创建
    function add () {
        dialog('/admin/coinsMarket/create', '添加交易市场', 1000);
    }

    //修改
    function edit (id) {
        dialog('/admin/coinsMarket/update?id=' + id, '修改交易市场', 1000);
    }
    
    //改变状态
    function handleStatus (status, type) {
        var checkData = table.checkStatus('tableins').data;
        if (checkData.length < 1) {
            error("请选择数据");
            return;
        }
        var id = checkData.column('id').join(',');
        layer.confirm('确定执行该操作？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/coinsMarket/handleStatus",{ id, status, type}, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }
</script>
