{layout name="/common"}
<form class="layui-form">
    <div class="operate-section">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input class="layui-input layui-input" name="keyword" placeholder="会员信息" />
                </div>
                <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
                <button class="btn btn-sm btn-white" type="reset">重置</button>
                <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-sm btn-primary btn-create">添加</a>
            </div>
    </div>
</form>

<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/userType/secondNode',
        id: 'tableins',
        limit : 10,
        limits : [10,20,30,50],
        page : true,
        height : "full-190",
        cols : [[
            {title: '操作', align:'center', templet: function(d) {
                return '<a class="btn btn-sm btn-info" onclick="update('+d.fId+')" style="margin-right:10px">修改</a>' +
                       '<a class="btn btn-sm btn-info" onclick="cancel('+d.fId+')">取消</a>';
            }},
            {field: 'fId', title: 'UID'},
            {field: 'floginName', title: '会员登陆名'},
            {field: 'introNum', title: '邀请用户数'},
            {field: 'childNum', title: '伞下用户数'},
            {field: 'f_ratio', title: '返佣百分比', templet: function(d) {
                    return d.f_ratio * 100 + '%';
                }},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    $('.btn-create').click(function() {
        dialog('/admin/userType/createSecondNode', '添加二级节点', 600);
    })

    function update(fId) {
        dialog('/admin/userType/updateSecondNode?fId=' + fId, '修改二级节点', 600);
    }
    function cancel(fId) {
        layer.confirm('确定执行该操作？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/userType/cancelSecondNode", { fId}, function(ret) {
                if (ret.code == 0) {
                    success(ret.msg);
                    layer.close(index);
                    table.reload('tableins');
                } else {
                    error(ret.msg);
                }
            })
        })
    }
</script>
