<form action="/admin/userType/updateSuperNode" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">用户</label>
        <div class="layui-input-block">
            <input class="layui-input" id="floginName" value="{$row.floginName}" onclick="selectUser()">
            <input type="hidden" name="fId" id="userid" value="{$row.fId}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">返佣比例</label>
        <div class="layui-input-block">
            <input class="layui-input" name="commision_rate" value="{$row.f_ratio}">
        </div>
    </div>
</form>
<script>
    function selectUser() {
        layer.open({
            type: 2,
            title: '选择用户',
            area: ['800px', '600px'],
            content: '/admin/rechargeHand/selectUser',
        })
    }
</script>

