{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" id="name" placeholder="请输入账号" />
            </div>
            <div class="layui-input-inline">
                <select id="status">
                    <option value="">--审核状态--</option>
                    <option value="0">待审核</option>
                    <option value="1">审核中</option>
                    <option value="2">审核通过</option>
                    <option value="3">审核失败</option>
                </select>
            </div>
            <a class="btn btn-sm btn-primary" onclick="refresh()">搜索</a>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-warning btn-check" data-status="2">审核</a>
            <a class="btn btn-sm btn-danger btn-delete">删除</a>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/otcShop/index',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-85",
        cols : [[
            {type: "radio", fixed:"left"},
            {field: 'id', title: 'ID', width: '50'},
            {field: 'f_uid', title: '用户ID', width: '100'},
            {field: 'otc_name', title: '姓名', width: '100'},
            {field: 'otc_phone', title: '手机', width: '200'},
            {field: 'otc_email', title: '邮箱', width: '200'},
            {field: 'otc_wechat', title: '微信', width: '200'},
            {field: 'otc_emergency_contact', title: '紧急联系人', width: '100'},
            {field: 'otc_emergency_contact_phone', title: '紧急联系电话', width: '200'},
            {field: 'otc_my_relationship', title: '与本人的关系', width: '200'},
            {field: 'otc_permanent_address', title: '常驻地址', width: '200'},
            {field: 'otc_status', title: '审核状态', width: '100', templet:function(d){
                var statusList = ['待审核', '审核中', '审核通过', '审核失败'];
                return statusList[d.otc_status] ? statusList[d.otc_status] : '';
            }},
            {field: 'otc_cause', title: '审核失败原因', width: '200'},
            {field: 'check_name', title: '审核人账号', width: '200'},
            {field: 'otc_audit_time', title: '审核时间', width: '200'},
            {field: 'otc_add_time', title: '创建时间', width: '200'},
            {field: 'otc_update_time', title: '更新时间', width: '200'}
        ]]
    });

    //搜索
    function refresh () {
        table.reload("tableins", {
            page: {
                curr: 1
            },
            where: {
                name: $("#name").val(),
                status: $("#status").val()
            }
        })
    }

    $('.btn-delete').click(function() {
        var data = table.checkStatus('tableins').data;
        if (data.length < 1) {
            error("请选择数据");
            return;
        }
        layer.confirm('确定删除？', {icon:3}, function(index) {
            $.post("/admin/otcShop/delete", {id : data[0]['id'] }, function(data) {
                if (data.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        });
    })

    $('.btn-check').click(function() {
        var data = table.checkStatus('tableins').data;
        if (data.length < 1) {
            error("请选择数据");
            return;
        }
        if (data[0]['otc_status'] != 0) {
            error("请选择待审核数据");
            return;
        }
        dialog('/admin/otcShop/check?id='+data[0]['id'],  '审核', 700);

    })
</script>