{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" name="keyword" placeholder="用户名/真实姓名" />
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>


<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/user/checkList',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-95",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', width: 80, templet:function(d){
                return '<a class="btn btn-xs btn-primary" onclick="check('+d.fId+')">审核</a>';
            }},
            {field: 'fId', title: 'ID', width: 80},
            {field: 'floginName', title: '会员登陆名', width: 200},
            {field: 'fStatus', title: '会员状态', width: 100, templet:function(d){
                return d.fStatus == 1 ? '正常' : '封禁';
            }},
            {field: 'fNickName', title: '昵称', width: 150},
            {field: 'fRealName', title: '真实姓名', width: 200},
            {field: 'fhasRealValidate', title: '证件是提交', width: 150, templet:function(d){
                return d.fhasRealValidate == 1 ? '已提交' : '未提交';
            }},
            {field: 'fIdentityStatus', title: '证件照状态', width: 150, templet:function(d){
                if (d.fIdentityStatus == 0) {
                    return '未上传';
                } else if (d.fIdentityStatus == 1) {
                    return '待审核';
                } else if (d.fIdentityStatus == 2) {
                    return '已通过';
                } else if (d.fIdentityStatus == 3) {
                    return '未通过';
                }
            }},
            {field: 'fTelephone', title: '电话号码', width: 120},
            {field: 'fEmail', title: '邮箱', width: '200'},
            {field: 'fidentityType', title: '证件类型', width: 100, templet:function(d){
                if (d.fidentityType == 0) return '身份证';
                else if (d.fidentityType == 1) return '军官证';
                else if (d.fidentityType == 2) return '护照';
                else if (d.fidentityType == 3) return '台湾居民通行证';
                else if (d.fidentityType == 4) return '港澳居民通行证';
                else return '';
            }},
            {field: 'fIdentityNo', title: '证件号码', width: 200},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //审核信息
    function check (fId) {
        dialog('/admin/user/checkUser?fId=' + fId, '证件审核', 650, 600);
    }

</script>
