<form class="layui-form dialog">
    <div class="col-sm-6">
        <div class="layui-form-item">
            <label class="layui-form-label">扫描件正面：</label>
            <div class="layui-input-block">
                <img src="{$fIdentityPath}" width="300" height="200">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">扫描件反面：</label>
            <div class="layui-input-block">
                <img src="{$fIdentityPath2}" width="300" height="200">
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="layui-form-item">
            <label class="layui-form-label">手持证件照：</label>
            <div class="layui-input-block">
                <img src="{$fIdentityPath3}" width="300" height="200">
            </div>
        </div>
    </div>
</form>
