{layout name="/common"}
<div class="operate-section">
    <form class="layui-form row">
        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">订单ID：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-input" name="order_num"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员信息：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-input" name="keyword"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">币种类型：</label>
                <div class="layui-input-block">
                    <select name="cid">
                        <option value="">全部</option>
                        {foreach $coins as $k => $v}
                        <option value="{$k}">{$v}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">订单类型：</label>
                <div class="layui-input-block">
                    <select name="type">
                        <option value="">全部</option>
                        <option value="0">买</option>
                        <option value="1">卖</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">订单状态：</label>
                <div class="layui-input-block">
                    <select name="status">
                        <option value="">全部</option>
                        <option value="0">待付款</option>
                        <option value="1">待放币</option>
                        <option value="2">已完成</option>
                        <option value="3">已撤销</option>
                        <option value="4">冻结中</option>
                        <option value="5">申诉中</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
                    <button class="btn btn-sm btn-white" type="reset">重置</button>
                    <a class="btn btn-sm btn-info export-excel">导出</a>
                    <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-date" name="create_time[]"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-date" name="create_time[]"/>
                </div>
            </div>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>

<!--操作-->
<script type="text/html" id="tableBar">
    <a class="btn btn-info btn-xs" lay-event="complete">完成订单</a>
    <a class="btn btn-warning btn-xs" lay-event="cancel">取消订单</a>
</script>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/otcOrderLog',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-190",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', fixed:'true', templet: '#tableBar', width: 150},
            {field: 'order_num', title: '订单ID', width: 250},
            {field: 'order_id', title: '挂单ID', width: 100},
            {field: 'fRealName', title: '用户', width: 100},
            {field: 'otc_name', title: '对应挂单用户', width: 100},
            {field: 'fName', title: '币种类型', width: 100},
            {field: 'type', title: '订单类型', width: 100, templet:function(d){
                    if (d.type == 0) return '卖';
                    else if (d.type == 1) return '买';
                    else return '';
                }},
            {field: 'price', title: '价格', width: 100},
            {field: 'amount', title: '数量', width: 100},
            {field: 'pay_way', title: '支付方式',  width: 200},
            {field: 'buyer_note', title: '买方申诉理由',  width: 200},
            {field: 'seller_note', title: '卖方申诉理由',  width: 200},
            {field: 'status', title: '状态', width: 100, templet:function(d){
                    if (d.status == 0) return '待付款';
                    else if (d.status == 1) return '待放币';
                    else if (d.status == 2) return '已完成';
                    else if (d.status == 3) return '已撤销';
                    else if (d.status == 4) return '冻结中';
                    else if (d.status == 5) return '申诉中';
                    else return '';
                }},
            {field: 'create_time', title: '生成时间', width: 200},
            {field: 'update_time', title: '更新时间', width: 200},
        ]]
    });

    //列表操作
    table.on('tool(table)', function(obj){
        var event = obj.event;
        var data = obj.data;
        if (event === 'complete') { //修改交易密码
            handleOrder(data.id, 1);
        } else if (event === 'cancel') {  //修改交易密码
            handleOrder(data.id, 2);
        }
    });

    //改变状态
    function handleOrder (id, type) {
        var url = type == 1 ? '/admin/otcOrderLog/complete?id=' + id : '/admin/otcOrderLog/cancel?id=' + id;
        layer.confirm('确定执行该操作？', {icon: 3, title: '提示信息'}, function (index) {
            $.get(url, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }

    lay('.layui-date').each(function(){
        laydate.render({
            elem: this,
            trigger: 'click',
            type: 'datetime'
        });
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })
</script>