<form action="/admin/rechargeHand/create" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">用户</label>
        <div class="layui-input-block">
            <input class="layui-input" id="floginName" onclick="selectUser()">
            <input type="hidden" name="FUserId" id="userid">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">虚拟币</label>
        <div class="layui-input-block">
            <select name="FVirtualCoinTypeId">
                {foreach $coins as $k => $v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="number" class="layui-input" name="FQty" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">发送短信</label>
        <div class="layui-input-block">
            <input type="radio" name="FIsSendMsg" value="1" title="是" checked>
            <input type="radio" name="FIsSendMsg" value="0" title="否">
        </div>
    </div>

    <button class="btn btn-primary hidden save" lay-submit lay-filter="save">保存</button>
</form>
<script>
    function selectUser() {
        layer.open({
            type: 2,
            title: '选择用户',
            area: ['800px', '600px'],
            content: '/admin/rechargeHand/selectUser',
        })
    }
</script>
