{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width:250px">
                <input class="layui-input layui-input" name="keyword" placeholder="会员信息" />
            </div>
            <div class="layui-input-inline">
                <select name="coin">
                    <option value="">--币种--</option>
                    {foreach $coins as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">--状态--</option>
                    <option value="2">已审核</option>
                    <option value="1">暂存</option>
                </select>
            </div>

            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>
<div class="operate-section">
    <a class="btn btn-sm btn-primary" onclick="create()">新增</a>
    <a class="btn btn-sm btn-danger" onclick="del()">删除</a>
    <a class="btn btn-sm btn-info export-excel">导出</a>
</div>
<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/rechargeHand',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-145",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', width: 80, templet:function(d){
                return '<a class="btn btn-xs btn-primary" onclick="check('+d.FId+')">审核</a>';
            }},
            {field: 'FId', title: 'ID', align:'center', width: 80},
            {field: 'floginName', title: '会员登陆名', align:'center', width: 150},
            {field: 'fNickName', title: '会员昵称', align:'center', width: 150},
            {field: 'fRealName', title: '会员真实姓名', align:'center', width: 100},
            {field: 'fEmail', title: '会员邮箱', align:'center', width: 200},
            {field: 'fTelephone', title: '会员手机号', align:'center', width: 150},
            {field: 'coin', title: '虚拟币类型', align:'center', width: 100},
            {field: 'FStatus', title: '状态', align:'center', width: 200, templet:function(d){
                    return d.FStatus == 2 ? '已审核' : '暂存';
            }},
            {field: 'FQty', title: '数量', align:'center', width: 150},
            {field: 'FCreateTime', title: '审核时间', align:'center', width: 150},
            {field: 'creator', title: '审核人', align:'center', width: 150},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //创建
    function create () {
        dialog('/admin/rechargeHand/create', '手工充值', 600);
    }

    //改变状态
    function check (id) {
        layer.confirm('确定审核？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/rechargeHand/check",{ id }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }

    //改变状态
    function del () {
        var checkData = table.checkStatus('tableins').data;
        if (checkData.length < 1) {
            error("请选择数据");
            return;
        }
        var id = checkData.column('FId').join(',');
        layer.confirm('确定审核？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/rechargeHand/delete",{ id }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }
</script>
