{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width:250px">
                <input class="layui-input layui-input" name="keyword" placeholder="会员信息" />
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="searchUser">搜索</button>
        </div>
    </form>
</div>
<table id="userTable"></table>

<script>
    table.render({
        elem: '#userTable',
        url : '/admin/rechargeHand/selectUser',
        id: 'userTableBox',
        height : 450,
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        cols : [[
            {title: '操作', align:'center', width: 100, fixed: true, templet:function(d){
                    return '<button class="btn btn-sm btn-primary" onclick="confirmUser(' + d.fId + ',' + '\'' + d.floginName + '\')">选择</button>';
                }},
            {field: 'fId', title: 'ID', align:'center', width: 80},
            {field: 'floginName', title: '会员登陆名', align:'center', width: 200},
            {field: 'fStatus', title: '状态', align:'center', width: 200, templet:function(d){
                    return d.fStatus == 1 ? '正常' : '封禁';
                }},
            {field: 'fNickName', title: '会员昵称', align:'center', width: 150},
            {field: 'fRealName', title: '会员真实姓名', align:'center', width: 100},
            {field: 'fEmail', title: '会员邮箱', align:'center', width: 200},
            {field: 'fTelephone', title: '会员手机号', align:'center', width: 150},
            {field: 'fIdentityNo', title: '身份证', align:'center', width: 150},
        ]]
    });

    //搜索
    form.on('submit(searchUser)', function(data) {
        table.reload('userTableBox', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })
    function confirmUser(id, floginName) {
       parent.$('#userid').val(id);
       parent.$('#floginName').val(floginName);
       parent.layer.closeAll('iframe');
    }
</script>
