{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width:250px">
                <input class="layui-input layui-input" name="keyword" placeholder="会员信息" />
            </div>
            <div class="layui-input-inline" style="width:250px">
                <input class="layui-input layui-input" name="address" placeholder="提现地址" />
            </div>
            <div class="layui-input-inline">
                <select name="coin">
                    <option value="">--币种--</option>
                    {foreach $coins as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">--全部--</option>
                    <option value="3">已完成</option>
                    <option value="4">用户取消</option>
                    <option value="5">审核失败</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info export-excel">导出</a>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/withdraw',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-85",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: "操作", width: 100, templet:function(d){
                return '<a class="btn btn-xs btn-primary" onclick="recheck('+d.fId+')">重新审核</a>';
            }},
            {field: 'fId', title: 'ID', align:'center', width: 80},
            {field: 'floginName', title: '会员登陆名', align:'center', width: 150},
            {field: 'fNickName', title: '会员昵称', align:'center', width: 150},
            {field: 'fRealName', title: '会员真实姓名', align:'center', width: 100},
            {field: 'fEmail', title: '会员邮箱', align:'center', width: 200},
            {field: 'fTelephone', title: '会员手机号', align:'center', width: 150},
            {field: 'coin', title: '虚拟币类型', align:'center', width: 300},
            {field: 'fStatus', title: '状态', align:'center', width: 200, templet:function(d){
                if (d.fStatus == 1) return '待审核';
                else if (d.fStatus == 2) return '正在处理';
                else if (d.fStatus == 3) return '已完成';
                else if (d.fStatus == 4) return '用户取消';
                else if (d.fStatus == 5) return '审核失败';
                else return '';

            }},
            {field: 'fAmount', title: '数量', align:'center', width: 150},
            {field: 'ffees', title: '手续费', align:'center', width: 150},
            {field: 'withdraw_virtual_address', title: '提现地址', align:'center', width: 400},
            {field: 'ftradeUniqueNumber', title: '交易ID', align:'center', width: 500},
            {field: 'fCreateTime', title: '创建时间', align:'center', width: 200},
            {field: 'flastUpdateTime', title: '更新时间', align:'center', width: 200},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //重新审核
    function recheck (fId) {
        dialog('/admin/withdraw/recheck?fId='+fId,  '审核', 700);
    }
</script>
