{layout name="/common"}
<div class="operate-section">
    <form class="layui-form row">
        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">挂单ID：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-input" name="id"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员信息：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-input" name="keyword"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">币种类型：</label>
                <div class="layui-input-block">
                    <select name="cid">
                        <option value="">全部</option>
                        {foreach $coins as $k => $v}
                        <option value="{$k}">{$v}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">订单类型：</label>
                <div class="layui-input-block">
                    <select name="type">
                        <option value="">全部</option>
                        <option value="0">买</option>
                        <option value="1">卖</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">订单状态：</label>
                <div class="layui-input-block">
                    <select name="status">
                        <option value="">全部</option>
                        <option value="0">待成交</option>
                        <option value="1">已成交</option>
                        <option value="2">已撤销</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
                    <button class="btn btn-sm btn-white" type="reset">重置</button>
                    <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
                    <a class="btn btn-sm btn-info export-excel">导出</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-date" name="create_time[]"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间：</label>
                <div class="layui-input-block">
                    <input class="layui-input layui-date" name="create_time[]"/>
                </div>
            </div>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>


<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/otcOrder',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-200",
        cols : [[
            {field: 'id', title: '挂单ID', width: 100},
            {field: 'fName', title: '币种类型', width: 100},
            {field: 'fRealName', title: '挂单用户', width: 100},
            {field: 'type', title: '挂单类型', width: 100, templet:function(d){
                    if (d.type == 0) return '买';
                    else if (d.type == 1) return '卖';
                    else return '';
                }},
            {field: 'price', title: '价格', width: 100},
            {field: 'amount', title: '数量', width: 100},
            {field: 'amount_rand', title: '数量范围', width: 200},
            {field: 'success_amount', title: '已成交数量', width: 100},
            {field: 'frozen_amount', title: '冻结数量', width: 100},
            {field: 'pay_way', title: '支付方式',  width: 200},
            {field: 'status', title: '状态', width: 100, templet:function(d){
                    if (d.status == 0) return '待成交';
                    else if (d.status == 1) return '已成交';
                    else if (d.status == 2) return '已撤销';
                    else return '';
                }},
            {field: 'create_time', title: '生成时间', width: 200,},
            {field: 'update_time', title: '更新时间', width: 200,},
        ]]
    });

    lay('.layui-date').each(function(){
        laydate.render({
            elem: this,
            trigger: 'click',
            type: 'datetime'
        });
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })
</script>