<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
    
	<link rel="icon" href="/favicon.ico">
	<link href="/static/plugin/layui/css/layui.css" rel="stylesheet" />

	<link href="/static/plugin/hplus/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugin/hplus/css/style.min.css" rel="stylesheet">
	<link href="/static/plugin/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <script src="/static/plugin/layui/layui.all.js"></script>
	<script src="/static/js/common.js"></script>
	<link href="/static/css/common.css" rel="stylesheet" />
	<script src="/static/plugin/hplus/js/bootstrap.min.js"></script>
</head>
<body class="iframe-content-body">
	<div class='my-content'>
    	{__CONTENT__}
	</div>
	
</body>
</html>