<form action="/admin/sysRole/update" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="fname" placeholder="请输入" autocomplete="off" class="layui-input" value="{$row.fname}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="fdescription" placeholder="请输入" autocomplete="off" class="layui-input" value="{$row.fdescription}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
            <div id="tree"></div>
            <input type="hidden" name="access" id="access">
        </div>
    </div>

    <input type="hidden" name="fid" value="{$row.fid}">

    <button class="btn btn-primary hidden save" lay-submit lay-filter="save">保存</button>
</form>
<script>
    var authTree = {:json_encode($authTree)};
    var access = '{$row.access}';

    //渲染
    var treeObj = tree.render({
        elem: '#tree' ,
        showCheckbox: true,
        data: authTree,
        oncheck: function(obj){
            var ids = getCheckIds(treeObj.getChecked());
            $('#access').val(ids);
        }
    });

    treeObj.setChecked(access ? access.split(',') : [])

    //得到选中的id
    function getCheckIds (data, ids = []) {
        for (var i = 0; i < data.length; i++) {
            ids.push(data[i].id)
            if (data[i].children) {
                getCheckIds(data[i].children, ids);
            }
        }
        return ids;
    }
</script>
