{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" name="keyword" placeholder="名称/简称" />
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>
<div class="operate-section">
    <a class="btn btn-sm btn-primary" onclick="dialog('/admin/coins/create', '添加虚拟币', 1000);">新增</a>
    <a class="btn btn-sm btn-warning" onclick="handleStatus(0)">禁用</a>
    <a class="btn btn-sm btn-warning" onclick="handleStatus(1)">启用</a>
</div>

<table id="table" lay-filter="table"></table>

<!--操作-->
<script type="text/html" id="tableBar">
    <div class="btn-group">
        <button type="button" class="btn btn-info active btn-sm" lay-event="edit">修改</button>
        <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:;" lay-event="withdrawSetting">提现设置</a></li>
            <li><a href="javascript:;" lay-event="walletTest">测试钱包</a></li>
            <li><a href="javascript:;" lay-event="viewAccount">币种账号情况</a></li>
            <li><a href="javascript:;" lay-event="initAccount">初始化币种账号</a></li>
        </ul>
    </div>
</script>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/coins/index',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-145",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', templet: '#tableBar', width: 120},
            {field: 'fId', title: 'ID', align:'center', width: 80},
            {field: 'fName', title: '名称', align:'center', width: 150},
            {field: 'fShortName', title: '简称', align:'center', width: 150},
            {field: 'fstatus', title: '状态', align:'center', width: 100, templet:function(d){
                return d.fstatus == 1 ? '正常' : '封禁';
            }},
            {field: 'fip', title: 'ip', align:'center', width: 150},
            {field: 'fport', title: '端口', align:'center', width: 100},
            {field: 'chain_name', title: '链名称', align:'center', width: 100},
            {field: 'block_url', title: '区块浏览器地址', align:'center', width: 300},
            {field: 'isOtcActive', title: '是否可以otc买卖', align:'center', width: 200, templet:function(d){
                    return d.isOtcActive == 1 ? '是' : '否';
                }},
            {field: 'otcRate', title: 'otc手续费', align:'center', width: 100},
            {field: 'otc_buy_price', title: 'otc固定买价', align:'center', width: 100},
            {field: 'otc_sell_price', title: 'otc固定卖价', align:'center', width: 100},
            {field: 'FIsShare', title: '是否可以交易', align:'center', width: 100, templet:function(d){
                    return d.FIsShare == 1 ? '是' : '否';
                }},
            {field: 'FIsWithDraw', title: '是否可提现',align:'center', width: 100, templet:function(d){
                    return d.FIsWithDraw == 1 ? '是' : '否';
                }},
            {field: 'FIsRecharge', title: '是否可充值', align:'center',width: 100, templet:function(d){
                    return d.FIsRecharge == 1 ? '是' : '否';
                }},
            {field: 'confirm_times', title: '充值确认次数', align:'center',width: 100},
            {field: 'isOtcActive', title: '是否正在启用中', align:'center',width: 120, templet:function(d){
                    return d.isOtcActive == 1 ? '是' : '否';
                }},
            {field: 'isOtcActive', title: '是否正在生成地址', align:'center', width: 150, templet:function(d){
                    return d.isOtcActive == 1 ? '是' : '否';
                }},
            {field: 'fAddTime', title: '创建时间', width: 200},

        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //列表操作
    table.on('tool(table)', function(obj){
        var event = obj.event;
        var data = obj.data;
        var id = data.fId;
        if (event === 'edit') {
            dialog('/admin/coins/update?id=' + id, '修改虚拟币', 1000);
        } else if (event === 'withdrawSetting') {
            dialog('/admin/coins/withdrawSetting?id=' + id, '提现设置', 600);
        } else if (event === 'walletTest') {
            $.get("/admin/coins/walletTest?id=" + id, function(ret) {
                if (ret.code == 0) {
                    success(ret.msg);
                } else {
                    error(ret.msg);
                }
            })
        } else if (event === 'viewAccount') {
            $.get("/admin/coins/viewAccount?id=" + id, function(ret) {
                if (ret.code == 0) {
                    success(ret.msg);
                } else {
                    error(ret.msg);
                }
            })
        } else if (event === 'initAccount') {
            $.get("/admin/coins/initAccount?id=" + id, function(ret) {
                if (ret.code == 0) {
                    success(ret.msg);
                } else {
                    error(ret.msg);
                }
            })
        }
    });


    //改变状态
    function handleStatus (status) {
        var checkData = table.checkStatus('tableins').data;
        if (checkData.length < 1) {
            error("请选择数据");
            return;
        }
        var id = checkData.column('fId').join(',');
        layer.confirm('确定执行该操作？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/coins/handleStatus",{ id, status }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }
</script>
