<form action="/admin/coins/update" class="layui-form dialog">
    <div class="col-sm-4">
        <div class="layui-form-item">
            <label class="layui-form-label">币种名称</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fName" value="{$fName}" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">币种简称</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fShortName" value="{$fShortName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">ACCESS_KEY</label>
            <div class="layui-input-block">
                <input class="layui-input" name="faccess_key" value="{$faccess_key}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SECRT_KEY</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fsecrt_key" value="{$fsecrt_key}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">ip</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fip" value="{$fip}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">port</label>
            <div class="layui-input-block">
                <input class="layui-input" name="fport" value="{$fport}">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="layui-form-item">
            <label class="layui-form-label">充值确认次数</label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" name="confirm_times" value="{$confirm_times}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">链名称</label>
            <div class="layui-input-block">
                <input class="layui-input" name="chain_name" value="{$chain_name}" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">OTC手续费</label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" name="otcRate" value="{$otcRate}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">OTC买入价</label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" name="otc_buy_price" value="{$otc_buy_price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">OTC卖出价</label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" name="otc_sell_price" value="{$otc_sell_price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">浏览器地址</label>
            <div class="layui-input-block">
                <input class="layui-input" name="block_url" value="{$block_url}">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="layui-form-item">
            <label class="layui-form-label">是否可以提现</label>
            <div class="layui-input-block">
                <input type="radio" name="FIsWithDraw" value="1" title="是" {if $FIsWithDraw==1}checked{/if}>
                <input type="radio" name="FIsWithDraw" value="0" title="否" {if $FIsWithDraw==0}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否可以充值</label>
            <div class="layui-input-block">
                <input type="radio" name="FIsRecharge" value="1" title="是" {if $FIsRecharge==1}checked{/if}>
                <input type="radio" name="FIsRecharge" value="0" title="否" {if $FIsRecharge==0}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否可以交易</label>
            <div class="layui-input-block">
                <input type="radio" name="FIsShare" value="1" title="是" {if $FIsShare==1}checked{/if}>
                <input type="radio" name="FIsShare" value="0" title="否" {if $FIsShare==0}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否可以otc</label>
            <div class="layui-input-block">
                <input type="radio" name="isOtcActive" value="1" title="是" {if $isOtcActive==1}checked{/if}>
                <input type="radio" name="isOtcActive" value="0" title="否" {if $isOtcActive==0}checked{/if}>
            </div>
        </div>
    </div>
    <input type="hidden" name="fId" value="{$fId}">
</form>