<form action="/admin/coins/withdrawSetting" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">最小提现额</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="min_withdraw" value="{$min_withdraw}" required>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">提现手续费</label>
            <div class="layui-input-inline" >
                <input type="text" name="withdraw" placeholder="固定" class="layui-input" value="{$withdraw}">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" >
                <input type="text" name="withdraw_ratio" placeholder="百分比" class="layui-input" value="{$withdraw_ratio}">
            </div>
        </div>
    </div>

    <input type="hidden" name="withdraw_fee_type" value="{$withdraw_fee_type}">
</form>
