<form action="/admin/article/create" class="layui-form dialog">
    <div class="layui-form-item">
        <label class="layui-form-label">中文标题</label>
        <div class="layui-input-block">
            <input class="layui-input" name="fTitle">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文标题</label>
        <div class="layui-input-block">
            <input type="fPassword" class="layui-input" name="en_title">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="fArticleType" lay-search>
                <option value="">全部</option>
                {foreach $articleTypes as $k => $v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否置顶</label>
        <div class="layui-input-block">
            <input type="radio" name="isTop" value="1" title="是" >
            <input type="radio" name="isTop" value="0" title="否" checked>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">跳转链接</label>
        <div class="layui-input-block">
            <input type="fPassword" class="layui-input" name="jump_link">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机跳转链接</label>
        <div class="layui-input-block">
            <input type="fPassword" class="layui-input" name="jump_link_mobile">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">中文banner图</label>
        <div class="layui-input-block">
            <div class="image-box" id="f_url_cn_upload"><img></div>
            <input class="layui-input" type="hidden" name="f_url_cn" id="f_url_cn">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文banner图</label>
        <div class="layui-input-block">
            <div class="image-box" id="f_url_en_upload"><img></div>
            <input class="layui-input" type="hidden" name="f_url_en" id="f_url_en">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机中文banner图</label>
        <div class="layui-input-block">
            <div class="image-box" id="f_url_cn_mobile_upload"><img></div>
            <input class="layui-input" type="hidden" name="f_url_cn_mobile" id="f_url_cn_mobile">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机英文banner图</label>
        <div class="layui-input-block">
            <div class="image-box" id="f_url_en_mobile_upload"><img></div>
            <input class="layui-input" type="hidden" name="f_url_en_mobile" id="f_url_en_mobile">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">中文内容</label>
        <div class="layui-input-block">
            <textarea id="fContent" name="fContent" style="width:100%; height:360px;"></textarea>
            <input type="hidden" name="fContent">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文内容</label>
        <div class="layui-input-block">
            <textarea id="en_content" name="en_content" style="width:100%; height:360px;"></textarea>
        </div>
    </div>
</form>
<link href="/static/plugin/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<script src="/static/plugin/umeditor/third-party/template.min.js"></script>
<script src="/static/plugin/umeditor/umeditor.config.js"></script>
<script src="/static/plugin/umeditor/umeditor.min.js"></script>
<script src="/static/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>
<script>
    UM.getEditor('fContent');
    UM.getEditor('en_content');

    upload.render({
        elem: '#f_url_cn_upload',
        url: '/admin/index/upload',
        done: function(res) {
            if(res.code == 0) {
                $('#f_url_cn_upload').find('img').attr('src', res.data.url);
                $('#f_url_cn').val(res.data.path);
                success(res.msg)
            } else {
                error(res.msg);
            }
        },
        error: function() {
            error('上传出错');
        }
    });
    upload.render({
        elem: '#f_url_en_upload',
        url: '/admin/index/upload',
        done: function(res) {
            if(res.code == 0) {
                $('#f_url_en_upload').find('img').attr('src', res.data.url);
                $('#f_url_en').val(res.data.path);
                success(res.msg)
            } else {
                error(res.msg);
            }
        },
        error: function() {
            error('上传出错');
        }
    });

    upload.render({
        elem: '#f_url_cn_mobile_upload',
        url: '/admin/index/upload',
        done: function(res) {
            if(res.code == 0) {
                $('#f_url_cn_mobile_upload').find('img').attr('src', res.data.url);
                $('#f_url_cn_mobile').val(res.data.path);
                success(res.msg)
            } else {
                error(res.msg);
            }
        },
        error: function() {
            error('上传出错');
        }
    });
    upload.render({
        elem: '#f_url_en_mobile_upload',
        url: '/admin/index/upload',
        done: function(res) {
            if(res.code == 0) {
                $('#f_url_en_mobile_upload').find('img').attr('src', res.data.url);
                $('#f_url_en_mobile').val(res.data.path);
                success(res.msg)
            } else {
                error(res.msg);
            }
        },
        error: function() {
            error('上传出错');
        }
    });
</script>