{layout name="/common"}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" name="keyword" placeholder="会员信息" />
            </div>
            <div class="layui-input-inline">
                <select name="fStatus">
                    <option value="">--状态--</option>
                    <option value="1">正常</option>
                    <option value="0">封禁</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="fpostRealValidate">
                    <option value="">--证件是否提交--</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="fIdentityStatus">
                    <option value="">--证件照状态--</option>
                    <option value="0">未上传</option>
                    <option value="1">待审核</option>
                    <option value="2">已通过</option>
                    <option value="3">未通过</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
        </div>
    </form>
</div>
<div class="operate-section">
    <a class="btn btn-sm btn-warning" onclick="handleStatus(0, 1)">封禁</a>
    <a class="btn btn-sm btn-warning" onclick="handleStatus(1, 1)">解封</a>
    <a class="btn btn-sm btn-info" onclick="handleStatus(0, 2)">取消手续费</a>
    <a class="btn btn-sm btn-info" onclick="handleStatus(1, 2)">恢复手续费</a>
    <a class="btn btn-sm btn-danger" onclick="handleStatus(0, 3)">取消otc挂单</a>
    <a class="btn btn-sm btn-danger" onclick="handleStatus(1, 3)">恢复otc挂单</a>
</div>

<table id="table" lay-filter="table"></table>

<!--操作-->
<script type="text/html" id="tableBar">
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs" lay-event="viewIdentity">查看证件照</button>
        <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:;" lay-event="resetPassword1">修改登陆密码</a></li>
            <li><a href="javascript:;" lay-event="resetPassword2">修改交易密码</a></li>
            <li><a href="javascript:;" lay-event="updateIdentity">修改证件信息</a></li>
        </ul>
    </div>
</script>

<script>
    form.render();
    table.render({
        elem: '#table',
        url : '/admin/user/index',
        id: 'tableins',
        limit : 20,
        limits : [10,20,30,50],
        page : true,
        height : "full-145",
        cols : [[
            {type: "checkbox", fixed:"left"},
            {title: '操作', align:'center', templet: '#tableBar', width: 150},
            {field: 'fId', title: 'ID', width: '80'},
            {field: 'fIntroUser_id', title: '推荐人ID', width: '80'},
            {field: 'floginName', title: '会员登陆名', width: '200'},
            {field: 'fStatus', title: '会员状态', width: '100', templet:function(d){
                if (d.fStatus == 1) {
                    return '正常';
                } else {
                    return '封禁';
                }
            }},
            {field: 'fpostRealValidate', title: '证件是否提交', width: '150', templet:function(d){
                    if (d.fpostRealValidate == 1) {
                        return '已提交';
                    } else {
                        return '未提交';
                    }
            }},
            {field: 'fhasRealValidate', title: '证件是否审核', width: '150', templet:function(d){
                if (d.fhasRealValidate == 1) {
                    return '是';
                } else {
                    return '否';
                }
            }},
            {field: 'fIdentityStatus', title: '证件照状态', width: '150', templet:function(d){
                if (d.fIdentityStatus == 0) {
                    return '未上传';
                } else if (d.fIdentityStatus == 1) {
                    return '待审核';
                } else if (d.fIdentityStatus == 2) {
                    return '已通过';
                } else if (d.fIdentityStatus == 3) {
                    return '未通过';
                }
            }},
            {field: 'fNickName', title: '昵称', width: '150'},
            {field: 'fRealName', title: '真实姓名', width: '100'},
            {field: 'fneedfee', title: '是否需要手续费', width: '150', templet:function(d){
                if (d.fneedfee == 1) {
                    return '是';
                } else {
                    return '否';
                }
            }},
            {field: 'can_otc', title: '是否可以otc挂单', width: '150', templet:function(d){
                if (d.can_otc == 1) {
                    return '是';
                } else {
                    return '否';
                }
            }},
            {field: 'fTelephone', title: '电话号码', width: '120'},
            {field: 'fEmail', title: '邮箱', width: '200'},
            {field: 'fIdentityNo', title: '证件号码', width: '200'},
            {field: 'fRegisterTime', title: '注册时间', width: '200'},
            {field: 'fLastLoginTime', title: '上次登陆时间', width: '200'}
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //列表操作
    table.on('tool(table)', function(obj){
        var event = obj.event;
        var data = obj.data;
        var fId = data.fId;
        if (event === 'viewIdentity') { //修改交易密码
            dialogView( "/admin/user/viewIdentity?fId=" + fId, '查看证件照', 1000);
        } else if (event === 'resetPassword1') {  //修改交易密码
            resetPassword(fId, 1);
        } else if (event === 'resetPassword2') {
            resetPassword(fId, 2);
        } else if (event === 'updateIdentity') {  //修改证件照
            dialog( "/admin/user/updateIdentity?fId=" + fId, '修改证件照', 500);
        }
    });

    //重置密码
    function resetPassword (fId, type) {
        var title = type == 1 ? '新登陆密码' : '新交易密码'
        layer.prompt({ title }, function(value, index) {
            $.post("/admin/user/resetPassword", { fId, type, password: value}, function(ret) {
                if (ret.code == 0) {
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        });
    }

    //改变状态
    function handleStatus (status, type) {
        var checkData = table.checkStatus('tableins').data;
        if (checkData.length < 1) {
            error("请选择数据");
            return;
        }
        fId = checkData.column('fId').join(',');
        layer.confirm('确定执行该操作？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/user/handleStatus",{ fId, status, type }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }

</script>
