{layout name="/common"/}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input layui-input" name="ip" placeholder="ip" />
            </div>
            <button class="btn btn-sm btn-primary" lay-submit lay-filter="search">搜索</button>
            <button class="btn btn-sm btn-white" type="reset">重置</button>
            <a class="btn btn-sm btn-info iframe-refresh"><i class="fa fa-refresh"></i></a>
            <a class="btn btn-sm btn-danger" onclick="del()">解除限制</a>
        </div>
    </form>
</div>

<table id="table" lay-filter="table"></table>

<script>
    table.render({
        elem: '#table',
        url : '/admin/sysLimit',
        id: 'tableins',
        cellMinWidth : 95,
        limit : 20,
        limits : [10,20,30,50],
        cols : [[
            {type: "checkbox", fixed:"left"},
            {field: 'fType', title: '限制类型', align:'center'},
            {field: 'fIp', title: 'ip地址', align:'center'},
            {field: 'fCreateTime', title: '创建时间', align:'center'},
        ]]
    });

    //搜索
    form.on('submit(search)', function(data) {
        table.reload('tableins', {
            page: {
                curr: 1
            },
            where: data.field
        })
        return false;
    })

    //删除
    function del () {
        var checkData = table.checkStatus('tableins').data;
        if (checkData.length < 1) {
            error("请选择数据");
            return;
        }
        var fId = checkData.column('fId').join(',');
        layer.confirm('确定解除限制？', {icon: 3, title: '提示信息'}, function (index) {
            $.post("/admin/sysLimit/delete",{ fId }, function(ret) {
                if (ret.code == 0) {
                    table.reload('tableins');
                    success(ret.msg);
                    layer.close(index);
                } else {
                    error(ret.msg);
                }
            })
        })
    }
</script>
