{layout name="/common"/}
<div class="operate-section">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">sql</label>
            <div class="layui-input-block">
                <input class="layui-textarea" id="sql" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <a class="btn btn-primary exportData">导出</a>
            </div>
        </div>
    </form>
</div>

<script>
    $('.exportData').click(function() {
        var sql = $('#sql').val();
        if (!sql) {
            return;
        }
        sql = sql.replace(/\n\r/, '');
        window,open('/admin/sysHelper/exportData?sql=' + sql);
    })
</script>
